.vscode/
__pycache__/
bsc_pathways/BSC_stuff/*
bsc_pathways/pathway_enrichment_v1/data/lobular_w_negatives.csv
bsc_pathways/pathway_enrichment_v1/data/ductal_no_negatives.csv
bsc_pathways/pathway_enrichment_v1/data/ductal.zip
bsc_pathways/pathway_enrichment_v1/data/lobular.zip
bsc_pathways/pathway_enrichment_v1/data/saved_tensors/*
!bsc_pathways/pathway_enrichment_v1/data/saved_tensors/.gitkeep
bsc_pathways/pathway_enrichment_v2/old_stuff.py